# Root Configuration
PORT=4000

# Database (Used by Docker Compose)
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=dailytm_db

# Server Config
DATABASE_URL="postgresql://admin:password@localhost:5432/dailytm_db?schema=public"

# Kinde Auth (Frontend)
VITE_KINDE_CLIENT_ID=
VITE_KINDE_DOMAIN=
VITE_KINDE_REDIRECT_URI=http://localhost:5173
VITE_KINDE_LOGOUT_URI=http://localhost:5173

# Uploadthing
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=
